section#download{
   
  background-color: #eee;
 }
 section#download .wrap{
    
  display: grid;
  grid-template-columns: 80% auto;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 200px;
  width: 890px;
 }
 section#download .wrap>*{
 
 }
 
 section#download .wrap h2{
    
 }
 section#download .wrap p{
    
 }
 section#download .wrap img{
    
  max-width: 200px;
  grid-column: 2;
  grid-row: 1 / span 3;
 }
